<div class="row jumbotron">
  <div class="col-md-12">
    <div class="row text-center" style="margin-bottom: 20px; ">
      <div class="col-md-12">
        <h3>Activity Details </h3>
      </div>
    </div>
    <div class="row">
      <form class="form-search">
        <div class="col-md-6 text-left noPadding">
          <input type="text" ng-model="filterText" class="search-query" placeholder="Filter list">
          <button ng-click="filterText = ''">Clear Filter</button>
        </div>
        <div class="col-md-6 text-right noPadding">
          <label>Page size: </label>
          <input type="number" min="1" max="100" ng-model="pageSize"
                 placeholder="Items Per Page">
        </div>
      </form>
    </div>

    <div class="row">
      <table class="table">
        <thead>
        <tr>
          <th class="text-center">
              {{DriverSummary}}
          </th>
        </tr>
        </thead>
      </table>

      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th class="text-center">Activity type</th>
          <th class="text-center">Trace key</th>
          <th class="text-center">Registration</th>
          <th class="text-center">Activity start date</th>
          <th class="text-center">Activity end date</th>
          <th class="text-center">Trace start date</th>
          <th class="text-center">Trace end date</th>
        </tr>
        </thead>

        <tbody ng-show="!isFeedRefreshing">
        <tr dir-paginate="driverActivity in driverActivityList | filter:filterText | itemsPerPage: pageSize"
            current-page="currentPage">
          <td class="text-center">{{driverActivity.activityType }}</td>
          <td class="text-center">{{driverActivity.traceKey }}</td>
          <td class="text-center">{{driverActivity.registration }}</td>
          <td class="text-center">{{driverActivity.activityStartDate | date:'short'}}</td>
          <td class="text-center">{{driverActivity.activityEndDate|date:'short'}}</td>
          <td class="text-center">{{driverActivity.traceStartDate | date:'short'}}</td>
          <td class="text-center">{{driverActivity.traceEndDate | date:'short'}}</td>
        </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col-md-5 text-left inlinediv">
          <a ng-href="#/">Back to Drivers Activity List</a>
        </div>
        <div class="col-md-7 text-right inlinediv">
          <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                   template-url="views/dirPagination.tpl.html"></dir-pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
