<div class="row jumbotron">

  <div class="col-md-12">
    <div class="row text-center" style="margin-bottom: 20px; ">
      <div class="col-md-12">
        <h3>Driver Activities List </h3>
      </div>
    </div>
    <div class="row">
      <form class="form-search">
        <div class="col-md-6 text-left noPadding">
          <input type="text" ng-model="filterText" class="search-query" placeholder="Filter list">
          <button ng-click="filterText = ''">Clear Filter</button>
        </div>
        <div class="col-md-6 text-right noPadding">
          <label>Page size: </label>
          <input type="number" min="1" max="100" ng-model="pageSize"
                 placeholder="Items Per Page">
        </div>
      </form>
    </div>
    <div class="row">

      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th class="text-center">Driver id</th>
          <th class="text-center">First name</th>
          <th class="text-center">Last name</th>
          <th class="text-center">Trace Activities</th>
        </tr>
        </thead>

        <tbody ng-show="!isActivityDataRefreshing">
        <tr dir-paginate="driverActivity in driverActivityList | filter:filterText | itemsPerPage: pageSize"
            current-page="currentPage">

          <td class="text-center">{{driverActivity.driverId}}</td>
          <td class="text-center">{{driverActivity.firstname }}</td>
          <td class="text-center">{{driverActivity.surname }}</td>
          <td class="text-center">
            <a title="Click to trace drivers details" ng-href="#detailsView/{{driverActivity.driverId}}">
            <i style="color: green; padding-right: 5px;" class="fa fa-briefcase fa-2x"></i>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
      <div ng-show="!isActivityDataRefreshing" class="text-center">
        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                 template-url="views/dirPagination.tpl.html"></dir-pagination-controls>
      </div>
      <div ng-show="isActivityDataRefreshing" class="text-center">
        <i ng-show="isFeedRefreshing" style="color:orange;" class="fa fa-spinner fa-pulse fa-2x"></i>
      </div>
    </div>
  </div>
</div>


