﻿<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link href="../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
  <link href="../bower_components/ng-grid/ng-grid.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../bower_components/angular-motion/dist/angular-motion.css"/>
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
  <style>
    .ng-cloak {
      display: none;
    }
  </style>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

</head>
<body ng-app="driverActivityApp">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<div class="ng-cloak">
  <div>
    <div class="col-md-3">
      <div class="row-fluid InlineDiv" ng-controller="MainController">
        <div class="text-center">
          <h4>Supply Chain News feed </h4>
        </div>
        <ul class="unstyled" ng-show="!isFeedRefreshing">
          <span class="badge badge-warning"
                ng-show="feeds.length > 0">{{(feeds | limitTo:maxFeedLimit).length}} Items</span>

          <span>(Refreshing in <b>{{countdownValue}}</b> seconds)</span>

          <li ng-repeat="feed in feeds | limitTo:maxFeedLimit">
            <h5><a target="_blank" href="{{feed.link}}">{{feed.title}}</a></h5>
            <span class="small">Published on: {{feed.pubDate|date:'short'}}</span>
          </li>
        </ul>
        <div class="text-center">
          <i ng-show="isFeedRefreshing" style="color:orange;" class="fa fa-spinner fa-pulse fa-2x"></i>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="container InlineDiv">
        <div class="header" style="margin-bottom:2px;">
          <ul class="nav nav-pills pull-right">
            <li class="active"><a ng-href="#/">Home</a></li>
          </ul>
          <h2 class="text-muted">Driver Activity Management</h2>
        </div>
        <div class="InlineDiv" ng-view=""></div>
        <div class="footer">
          <p>Copyright @ SandeepYadav-TechExercise | 2015 </p>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>

<!--[if lt IE 9]>
<script src="../bower_components/es5-shim/es5-shim.js"></script>
<script src="../bower_components/json3/lib/json3.min.js"></script>
<![endif]-->

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/es5-shim/es5-shim.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/json3/lib/json3.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="../bower_components/angular-resource/angular-resource.js"></script>
<script src="../bower_components/angular-cookies/angular-cookies.js"></script>
<script src="../bower_components/angular-animate/angular-animate.js"></script>
<script src="../bower_components/angular-route/angular-route.js"></script>
<script src="../bower_components/angular-strap/dist/angular-strap.js"></script>
<script src="../bower_components/angular-strap/dist/angular-strap.tpl.js"></script>
<script src="../bower_components/x2js/xml2json.js"></script>
<script src="../bower_components/angular-xml/angular-xml.js"></script>
<script src="../bower_components/ng-grid/ng-grid.min.js"></script>

<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/config.js"></script>
<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/driverDetailsController.js"></script>
<script src="scripts/directive/dirPagination.js"></script>

<!--Services-->
<script src="scripts/factories/driverActivityRestFactory.js"></script>
<script src="scripts/factories/driverActivityFactory.js"></script>
<script src="scripts/factories/rssFeedFactory.js"></script>


<!-- endbuild -->

</body>
</html>

